[submodule "plugins/storytelling"]
	path = plugins/storytelling
	url = https://github.com/dainst/wordpress-storytelling
[submodule "plugins/wordpress-storytelling"]
	path = plugins/wordpress-storytelling
	url = https://github.com/dainst/wordpress-storytelling.git
